#root {
  display: flex;
  min-height: 100vh;
  justify-self: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 800px) {
    padding: 2rem 4rem;
  }
}
