body {
  --dark-grey: #333333;
  --green: rgb(108, 203, 156);
  --blue: rgb(67, 141, 159);
  
  --primary-color:    #006D77;
  --secondary-color:  #E29578;
  --tertiary-color:   #83C5BE;
  --quaternary-color: #EDF6F9;
  --quinary-color:    #FFDDD2;
  --bg-color: var(--quaternary-color);
}
